@import '../../../assets/colors.scss';

.mt-7 {
    margin-top: 5rem;
}

.signup-button {
    padding: 1rem 5rem;
    width: 100%;
    text-transform: uppercase;
    color: $whiteColor;
    background: $primaryColor;
}

.signup-button:hover {
    color: $whiteColor;
    background: $hoverColor;
}